li a {
	width: 100%;
	margin: 0px !important;
}

.panel {
	border-style: none;
	margin-bottom: 0;
	padding: 0.3rem 0rem 0.3rem 0rem;
	background-color: #FFF;
}

.button {
	margin-bottom: 0rem;
}

table tr th, table tr td {
	padding: 0.3rem 0.3rem;
	font-size: 0.875rem;
	color: #222;
}

.order {
	min-height: 10em;
	margin-bottom: 0 !important;
}

.title {
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 1px;
	margin-top: 1px;
	background: #ddd;
	margin-bottom: 0.5rem;
	min-width: 2.2rem;
	text-align: center;
}

.table-name {
	color: white;
}

.panel.callout {
	border-color: #ddd;
	background-color: #fff;
}

.item {
	margin-left: -1.25rem !important;
	margin-right: -1.25rem !important;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.serve {
	margin-right: 1px;
	margin-top: -26px;
	margin-bottom: 0px;
}
